<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Files</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</head>
<body>


    <div class="container-flex m-5">

        <div class="container bg-light">
            <div class="row">
                <div class="col text-center">
                    <h1>Welcome To the Phishing Lake!</h1>
                    by G37SYS73M<br><br>
                    <h5>Select The following AAL To start</h5>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-2 text-center"></div>
                <div class="col text-center">
                    <div class="container-flex" style="height: 40vh;">
                        <div class="row">
                            <div class="col d-grid gap-2 text-center">
                                AAL1 permits single-factor authentication
                                <a href="/aal1" role="button" class="btn btn-success" >Authenticator Assurance Level 1</a>
                                AAL2 requires the use of two authentication factors
                                <a href="/aal2" role="button" class="btn btn-warning" >Authenticator Assurance Level 2</a>
                                AAL3 introduces several new requirements beyond AAL2, the most significant being the use of a hardware-based authenticator. (Under-Development)
                                <a href="/aal3" role="button" class="btn btn-danger" >Authenticator Assurance Level 3</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-2 text-center"></div>
            </div>
        </div>

    </div>
  
</body>
</html>